<template>
  <div>
    <div v-for="task of tasks" :key="task.id">
      <Task
        @delete-task="$emit('delete-task', task.id)"
        @toggle-reminder="$emit('toggle-reminder', task.id)"
        :task="task"
      />
    </div>
  </div>
</template>

<script>
import Task from "@/components/Task";

export default {
  name: "Tasks",
  props: {
    tasks: Array,
  },
  components: {
    Task,
  },
  emits: ["delete-task", "toggle-reminder"],
};
</script>

<style scoped></style>
